<%- include('partials/header') -%>
<div class="min-h-full">
  <%- include('partials/navigation') -%>
  <%- include('partials/notice', { notice: notice }) -%>
  <div class="py-10">
    <header>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h1
          class="text-3xl font-bold leading-tight tracking-tight text-gray-900"
        >
          Dashboard
        </h1>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex flex-col space-y-6">
          <ul role="list" class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2">
            <li
              class="col-span-1 divide-y divide-gray-200 rounded-md bg-white shadow"
            >              
              <div class="bg-white px-4 py-5 sm:px-6 rounded-md">
                <div
                  class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap"
                >
                  <div class="flex items-center ml-4 mt-2">
                    <h3 class="text-base font-semibold leading-6 text-gray-900">
                      Google Calendar
                    </h3>
                    <img
                      class="w-4 h-4 flex-1 ml-2"
                      alt="Google Calendar Logo"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Calendar_icon_%282020%29.svg/2048px-Google_Calendar_icon_%282020%29.svg.png"
                    />
                  </div>
                  <div class="ml-4 mt-2 flex-shrink-0">
                    <a
                      href="<%= connectUrls.googleCalendar %>"
                      class="relative inline-flex items-center rounded-sm bg-indigo-600 px-3 py-1 text-xs font-medium text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                    >
                      Connect
                    </a>
                  </div>
                </div>
              </div>              
            </li>
            <li
              class="col-span-1 divide-y divide-gray-200 rounded-md bg-white shadow"
            >
              <div class="bg-white px-4 py-5 sm:px-6 rounded-md">
                <div
                  class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap"
                >
                  <div class="flex items-center ml-4 mt-2">
                    <h3 class="text-base font-semibold leading-6 text-gray-900">
                      Microsoft Outlook
                    </h3>
                    <img
                      class="w-4 h-4 ml-2"
                      alt="Microsoft Outlook Calendar Logo"
                      src="https://img.icons8.com/color/480/outlook-calendar.png"
                    />
                  </div>
                  <div class="ml-4 mt-2 flex-shrink-0">
                    <a
                      href="<%= connectUrls.microsoftOutlook %>"
                      class="relative inline-flex items-center rounded-sm bg-indigo-600 px-3 py-1 text-xs font-medium text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                    >
                      Connect
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <% if (calendars.length > 0) { %>
            <ul role="list" class="grid grid-cols-1 gap-6">
              <li
                class="col-span-1 divide-y divide-gray-200 rounded-md bg-white shadow"
              >
                <div class="px-4 py-5 sm:p-6">
                  <h3 class="text-base font-semibold leading-6 text-gray-900">
                    Connected Calendars
                  </h3>
                </div>
                <ul role="list" class="divide-y divide-gray-100">
                  <% calendars.forEach(function(calendar){ %> <%-
                  include('partials/calendar-list-item', {calendar: calendar}); %>
                  <% }); %>
                </ul>
              </li>
            </ul>
          <% } %>
        </div>
      </div>
    </main>
  </div>
</div>
<%- include('partials/footer') -%>
